@font-face {
    font-family: Rounded;
    src: url(./assests/fonts/Monainn2.otf);
}

body {
    background-color: rgb(219, 228, 222);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: auto;
    background-color: rgb(233, 216, 166);
    text-align: center;
}

.header img{
    height: 30px;
    margin-top: 14px;
}

.head-buttons {
    /* height: 100%; */
    padding: 10px 0 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    align-items: center;
}

div.head-buttons a {
    text-decoration: none;
    background-color: rgb(154, 34, 38);
    color: white;
    font-size: 20px;
    padding: 6px;
    margin: 4px 0;
    width: 44%;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s;
}



div.hero {
    background-color: rgb(202, 103, 1);
    width: 100%;
}

div.hero img {
    width: 100%;
}

.our-mission {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: 10px;
    background-color: rgb(219, 228, 222);
}

.our-mission h1 {
    margin: 30px 0 30px 10px;
    font-size: 48px;
}

.our-mission .mission-content{
    display: flex;
    flex-direction: column;
}

.our-mission p {
    margin: 10px 0 30px;
    font-weight: bold;
}

.prints {
    background-color: rgb(0, 95, 115);
    padding: 10px;
}


.prints h1 {
    margin: 20px 0;
    color: #fff;
    font-size: 32px;
}

.prints figure {
    max-height: 400px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
}

.prints .fig1 {
    border-color: rgb(187, 62, 3);
}

.prints .fig2 {
    border-color: rgb(202, 103, 1);
}

.prints .fig3 {
    border-color: rgb(147, 210, 141);
    margin-bottom: 80px;
}

figure img {
    width: 100%;
    object-fit: cover;
    object-position: 0 -80px;
}

figcaption a {
    background-color: #fff9;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px;
    font-size: 24px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.fav_prints {
    padding: 10px 10px 0;
}

.fav_prints figure {
    height: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    border-color: rgb(187, 62, 3);
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.fav_prints h1 {
    margin: 20px 0;
    color: #000;
    font-size: 32px;
    margin-left: 10px;
}

.fav_prints img {
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.collections {
    padding: 10px;
    margin-bottom: 70px;
}

.collections h1 {
    margin: 20px 0;
    color: #000;
    font-size: 32px;
    margin-left: 10px;
}

.collections figure {
    max-height: 400px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
}

.collections .fig1 {
    border-color: rgb(187, 62, 3);
}

.collections .fig2 {
    border-color: rgb(0, 95, 115);
}

.collections .fig3 {
    border-color: rgb(238, 152, 0);
}

.collections .fig4 {
    border-color: rgb(187, 62, 3);
}

.collections .fig5 {
    border-color: rgb(147, 210, 141);
}

.collections .fig6 {
    border-color: rgb(62, 147, 151);
}

/* .collections a {
    background-color: #fff8;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px;
    font-size: 24px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
} */

footer {
    width: 100%;
    height: 300px;
    background-color: rgb(233, 216, 166);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

footer p {
    font-weight: bolder;
    margin-bottom: 16px;
    font-size: 22px;
}

footer img {
    margin-right: 16px;
    float: left;
}

footer address {
    font-weight: bolder;
    font-size: 22px;
    font-style: normal;
    margin-top: 28px;
}








  
  /*when screens is between 768px and 1024px tables and small laptops*/

  @media screen and (min-width: 768px){


    /* .hero, .our-mission, .prints, .fav_prints, .collections, footer{
        padding: 0 12%;
    } */


    .our-mission .mission-content{
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .mission-content img{
        height: 100px;
        position: absolute;
    }

    .our-mission p {
        margin: 0px 0px 30px 160px;
        font-weight: bold;
    }

    
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: auto;
    }
  
    .header img {
      margin-top: 18px;
    }
  
    .head-buttons {
        flex-wrap: nowrap;
        padding: 0px 0 14px;
    }
  
    div.head-buttons a {
      background-color: transparent;
      border: none;
      color: black;
      margin: 5px;
    }

    div.head-buttons a:hover{
        background-color: #ecc757ea;
        border: none;
        color: black;
    }

  .img-box {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }

  .img-box .fig1,.fig2,.fig3 {
    width:32.5%;
    margin: 0px 0px 100px 0px;
  }

}



/* for large laptops and computer moniters */
  @media screen and (min-width: 1024px) and (max-width: 2560px){


    .hero, .our-mission, .prints, .fav_prints, .collections, footer{
        padding: 0 12%;
    }


    * h1{
        margin-left: 100px !important;
    }

    .our-mission .mission-content{
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .mission-content img{
        height: 100px;
        position: absolute;
    }

    .our-mission p {
        margin: 0px 0px 30px 160px;
        font-weight: bold;
    }

    
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: auto;
    }
  
    .header img {
      margin-top: 18px;
    }
  
    .head-buttons {
        flex-wrap: nowrap;
        padding: 0px 0 14px;
    }
  
    div.head-buttons a {
      background-color: transparent;
      border: none;
      color: black;
      margin: 5px;
    }

    div.head-buttons a:hover{
        background-color: #ecc757ea;
        border: none;
        color: black;
    }

  .img-box {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }

  .img-box .fig1,.fig2,.fig3 {
    width:32.5%;
    margin: 0px 0px 100px 0px;
  }

  /* .img-box  {
    width: 100%;
    margin: 0;
    margin-bottom: 80px;
  } */

  /* .img-box .fig3 img{
    object-position: 0 -360px;
  } */

  .prints .fig3 {
    border-color: rgb(147, 210, 141);
    margin-bottom: 0px;
}


  .collections{
    padding: 0 87px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .collections figure {
    max-height: 340px;
    width: 32%;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
}


footer{
    margin-top: -100px;
    height: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer p {
    font-weight: bolder;
    margin-bottom: 16px;
    margin-top: 20px;
    font-size: 22px;
}


footer img{
    height: 60px;
}


}


  
  
  
  